
:root {
  --white: #ffffff;
  --gradprimary : #fcad72;
  --gradsecondary : #ff626d;
  --darkblack : #232227;
  --lightblack : #333235;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "adineue PRO";
}
.section {
  height: 100vh;
}
